* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0;
}

.calculator {
    width: 300px;
    height: 600px;
    border-radius: 10px;
    margin: 50px auto;
    /* background: rgb(0, 0, 0); */
    background: linear-gradient(0deg, rgba(38, 38, 38, 1) 0%, rgba(65, 65, 65, 1) 100%);
}

.calculator hr {
    width: 90%;
    margin: 0 auto;
    border: 1px solid gray;
}

.display {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

.display p {
    margin: 20px;
    text-align: left;
    letter-spacing: 1px;
}

.equation-display {
    height: 60px;
    font-size: 20px;
    color: lightgray;
}


.result-display {
    height: 60px;
    font-size: 26px;
    color: white;
}

.buttons {
    position: relative;
    height: 60%;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.buttons::before {
    content: '';
    position: absolute;
    right: 2px;
    top: 0;
    height: 100%;
    width: 60.75px;
    border-radius: 30px 30px 0 0;
    background-color: #272727;
}

.buttons::after {
    content: '';
    position: absolute;
    right: 2px;
    bottom: 2px;
    height: 64.8px;
    width: 60.75px;
    border-radius: 24px;
    background-color: #EB0028;
    box-shadow: 0 0 3px 3px #4d242bce;
}

.btn {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.btn button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    border: 0;
    background-color: inherit;
    color: gray;
    font-size: 36px;
    outline: none;
    transition: .3s;
    z-index: 1;
}

.btn button:hover {
    color: white;
    cursor: pointer;
}